<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Facebook login flow App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>OAuth 2 Authorization server</h1>
        <p class="lead">Custom implementation of OAuth 2 authorization server. To be able to authorize with the server register your application below.</p>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${newApp}" method="POST">
                <div class="form-group">
                    <label for="data">Register your application</label>
                    <input id="data" type="text" class="form-control" placeholder="App name" th:field="*{name}" />
                    <input id="data" type="text" class="form-control" placeholder="App description" th:field="*{description}" />
                    <input id="data" type="text" class="form-control" placeholder="Login" th:field="*{login}" />
                    <input id="data" type="password" class="form-control" placeholder="Password" th:field="*{password}" />
                    <input id="data" type="text" class="form-control" placeholder="App owner (private information)" th:field="*{appOwner}" />
                    <input id="data" type="email" class="form-control" placeholder="Email (private information)" th:field="*{email}" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Registered applications</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>App name</th>
                    <th>App description</th>
                    <th>App id</th>
                    <th>App Secret</th>
                    <th>Login</th>
                    <th>App Owner</th>
                    <th>Email</th>
                </tr>
                <tr th:each="app : ${registeredApps}">
                    <td th:text="${app.name}">Some text</td>
                    <td th:text="${app.description}">Some text</td>
                    <td th:text="${app.appId}">Some text</td>
                    <td th:text="${app.appSecret}">Some text</td>
                    <td th:text="${app.login}">Some text</td>
                    <td th:text="${app.appOwner}">Some text</td>
                    <td th:text="${app.email}">Some text</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>